@import "settings";
@import "foundation";
@import "compass/css3/transition";

.title {
	
}

.subtitle {
	font-size: 60%;
	line-height: 125%;
}

#cursor {
	@include experimental(animation, flash-cursor 1s linear 0s infinite);
	color: #00ff00;
	
	&:after {
		content: '\258B';
	}
}

@include keyframes(flash-cursor) {
	0%, 30% { opacity: 0; }
	31%, 100% { opacity: 1; }
}

#search-box {
	background-repeat: no-repeat;
	background-position: right center;

	&.ui-autocomplete-loading {
		background-image: url('/static/img/spinner_16.gif');
	}
}

.course {
	@include transition(background-color 0.3s linear);
}

footer {
	line-height: 150%;
	padding-bottom: 1em;
	
	p {
		margin-bottom: 0;

		@media only screen and (max-width: emCalc(560px))  {
			display: inline;
		}
	}
}

.ui-autocomplete {
	z-index: 100;
}

#calendar {
	.fc-agenda-slots {
		border-right: 1px solid #CCCCCC !important;
		margin-bottom: 0
	}

	.fc-event-content {
		padding: 2px;
	}

	table {
		border: none;
	}
}

.navigation {
	margin-bottom: 1em;

	.nav-prev {
		text-align: right;
	}

	.nav-title {
		padding: 3px 0;
		text-align: center;
	}

	.nav-next {
		text-align: left;
	}
}