<div id="{{ course_id }}" class="course alert-box secondary radius" data-alert>
	<h3>{{ course_id_and_title | safe }} <small><a href="#" class="close">&times;</a></small></h3>
	<ul class="large-block-grid-3 small-block-grid-1">
{% for section in sections %}
		<li>
			<label for="{{ section.full_id }}">
				<input type="checkbox" id="{{ section.full_id }}" style="display:none">
				<span class="custom checkbox checked"></span>
				<span class="section">
					Section {{ section.id }} with {{ section.professors }}
					<br />
{% for meeting in section.meetings %}
					{{ meeting.meetsOn }} from {{ meeting.startTime }} to {{ meeting.endTime }}<br />
{% endfor %}
				</span>
			</label>
		</li>
{% endfor %}
	</ul>
</div>
